body {
  margin: 0;
  font-family: 'Permanent Marker', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightslategray;
  background: url("../src/images/desk.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.current-page {
  background-color: lightgray;
}

.post-card {
  background-color: lemonchiffon;
}

.edit-profile {
  background-color: lemonchiffon;
}

.create-card {
  background-color: lemonchiffon;
}

.myposts {
  background-color: lemonchiffon;
}

.homenavbar {
  background-color: #4d0000;
}

.nav-heading {
  font-weight: 500;
  font-size: 20px;
}

.page-link {
  background-color: lemonchiffon;
}